(
  axes: {
    Camera(TranslateX):   Emulated(pos: Key(D), neg: Key(A)),
    Camera(TranslateZ):   Emulated(pos: Key(S), neg: Key(W)),
    Camera(Zoom):         Emulated(pos: Key(E), neg: Key(Q)),
    Camera(RotateHoriz):  Emulated(pos: Key(L), neg: Key(J)),
    Camera(RotateVert):   Emulated(pos: Key(K), neg: Key(I)),
  },
  actions: {
    "spawn_enemy": [[Key(N)]],
    "build_tower": [[Key(B)]],
  },
)
