(
  axes: {
    "camera_horiz": Emulated(pos: Key(D), neg: Key(A)),
    "camera_vert": Emulated(pos: Key(S), neg: Key(W)),
    "camera_zoom": Emulated(pos: Key(E), neg: Key(Q)),
  },
  actions: {
    "spawn_enemy": [Key(O)],
  },
)
