#![enable(implicit_some)]
Prefab (
  entities: [
    (
      data: (
        transform: (
          translation: (x: 2.0, y: 2.0, z: 2.0),
        ),
        light: (
          ambient_color: (Rgba(0.002, 0.002, 0.002, 1.0)),
          light: Directional((
            color: (0.5, 0.5, 0.5, 1.0),
            direction: (0.0, -0.71, -0.71),
          )),
        ),
      ),
    ),
    // (
    //   data: (
    //     transform: (
    //       translation: (x: 25.0, y: 10.0, z: 25.0),
    //       rotation: (s: 0.870, v: (x: -0.493, y: 0.0, z: 0.0)),
    //     ),
    //     camera: Perspective((
    //       fovy: Rad (1.0471975512),
    //       aspect: 1.0,
    //       near: 0.1,
    //       far: 2000.0,
    //     )),
    //     arc_ball_controls: ArcBallControls(
    //       target: (x: 0.0, y: 0.0, z: 0.0),
    //       distance: 36.74,
    //     )
    //   ),
    // ),
  ],
)
