#![enable(implicit_some)]
Prefab (
  entities: [
    (
      data: (
        graphics: (
          mesh: Shape((shape: Sphere(32, 32))),
          material: (albedo: Data(Rgba((0.0, 0.0, 1.0, 1.0), ()))),
        ),
        transform: (
          scale: (x: 0.5, y: 0.5, z: 0.5),
          translation: (x: 0.0, y: 0.5, z: 0.0),
        ),
      ),
    ), 
    ( 
      data: (
        graphics: (
          mesh: Shape((shape: Plane((10, 10)))),
          material: (albedo: Data(Rgba((0.0, 1.0, 0.0, 1.0), ()))),
        ),
        transform: (
          scale: (x: 5.0, y: 5.0, z: 1.0),
          rotation: (s: 0.707, v: (x: -0.707, y: 0.0, z: 0.0)),
        ),
      ),
    ),
    (
      data: (
        transform: (
          translation: (x: 2.0, y: 2.0, z: 2.0),
        ),
        light: (
          ambient_color: (Rgba(0.005, 0.005, 0.005, 1.0)),
          light: Point((
            intensity: 3.0,
            color: (1.0, 1.0, 1.0, 1.0),
            radius: 10.0,
          )),
        ),
      ),
    ),
    (
      data: (
        // transform: (
        //   translation: (x: 0.0, y: 1.0, z: 6.0),
        //   rotation: (s: 0.997, v: (x: -0.082, y: 0.0, z: 0.0)),
        // ),
        transform: (
          translation: (x: 0.0, y: 10.0, z: 6.0),
          rotation: (s: 0.870, v: (x: -0.493, y: 0.0, z: 0.0)),
        ),
        camera: Perspective((
          fovy: Rad (1.0471975512),
          aspect: 1.0,
          near: 0.1,
          far: 2000.0,
        )),
      ),
    ),
  ],
)
